.avatar {
    border-radius: 50%;
    min-height: 100px;
    max-height: 10dvh;
}

.icon {
    /* width: 20px; */
    border-radius: 50%;
    /* height: 2.5dvh; */
    width: 3dvh;
	min-width: 30px;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#horizontalnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#horizontalnav li {
    display: inline-block;
    margin-right: 3dvw;
}

#middle {
	min-height: 50dvh;
}

body {
	font-family: Open Sans,Arial;
	color: #454545;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@media (prefers-color-scheme: dark) {
	html:not(.inverted) {
		background-color:#000
	}

	body {
		color: #d9d9d9
	}

	blockquote {
		color: #d3c9be
	}

	blockquote:before {
		color: #b8b8b8
	}
}

a {
	color: #07a
}

a:visited {
	color: #07a
}

div.fancyPositioning div.tleft {
	float: left;
	width: 55%
}

div.fancyPositioning div.tleft p:first-child {
	margin-top: 0
}

div.fancyPositioning div.picture-right {
	float: right;
	/* width: 40%; */
	overflow: hidden;
	margin-left: 1em
}

div.fancyPositioning div.picture-right img {
	width: 100%
}

div.fancyPositioning div.picture-right figure {
	margin: 10px
}

div.fancyPositioning div.picture-right figure figcaption {
	font-size: .7em
}

div.fancyPositioning:after {
	display: block;
	content: "";
	clear: both
}

ul li img {
	height: 1em
}

blockquote {
	color: #456;
	margin-left: 0;
	margin-top: 2em;
	margin-bottom: 2em
}

blockquote span {
	float: left;
	margin-left: 1rem;
	padding-top: 1rem
}

blockquote author {
	display: block;
	clear: both;
	font-size: .6em;
	margin-left: 2.4rem;
	font-style: oblique
}

blockquote author:before {
	content: "- ";
	margin-right: 1em
}

blockquote:before {
	font-family: Times New Roman,Times,Arial;
	color: #666;
	content: open-quote;
	font-size: 2.2em;
	font-weight: 600;
	float: left;
	margin-top: 0;
	margin-right: .2rem;
	width: 1.2rem
}

blockquote:after {
	content: "";
	display: block;
	clear: both
}

/* @media screen and (max-width: 500px) {
	body {
		text-align:left
	}

	div.fancyPositioning div.picture-left,div.fancyPositioning div.tleft {
		float: none;
		width: inherit
	}

    div.fancyPositioning div.picture-right,div.fancyPositioning div.tright {
        float: none;
        width: inherit
    }

	blockquote span {
		width: 80%
	}

	blockquote author {
		padding-top: 1em;
		width: 80%;
		margin-left: 15%
	}

	blockquote author:before {
		content: "";
		margin-right: inherit
	}
} */
